<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas Prices in Göteborg</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .highlight {
            background-color: #d4edda; /* Light green background */
            color: #155724; /* Dark green text */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="my-4 text-center">Gas Prices in Göteborg</h1>

        <div class="row">
            <div class="col-12">
                <h2 class="my-4">Lowest Prices by Brand</h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Brand</th>
                                <th>Lowest Price (kr)</th>
                                <th>Stations</th>
                                <th>Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in lowest_prices.itertuples() %}
                            <tr class="{% if row.price <= lowest_prices_combined[lowest_prices_combined['brand'] == row.brand]['price'].min() %}highlight{% endif %}">
                                <td>{{ row.brand }}</td>
                                <td>{{ row.price }}</td>
                                <td>{{ row.station }}</td>
                                <td>{{ row.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="my-4">Lowest Prices</h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Brand</th>
                                <th>Lowest Price (kr)</th>
                                <th>Station</th>
                                <th>Last Updated</th>
                                <th>Period</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in lowest_prices_combined.itertuples() %}
                            <tr>
                                <td>{{ row.brand }}</td>
                                <td>{{ row.price }}</td>
                                <td>{{ row.station }}</td>
                                <td>{{ row.created_at }}</td>
                                <td>{{ row.period }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="my-4">Bensin Prices</h2>
                <div>{{ bensin_graph_html|safe }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="my-4">Brent Prices</h2>
                <div>{{ brent_graph_html|safe }}</div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>